[Desktop Entry]
Encoding=UTF-8
Type=Application
Terminal=false
Exec=/usr/bin/xdg-open JESREF_PATH/pages/index.html
Name=jesref
Icon=JESREF_PATH/icon.png
